### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Load DataFrame

In [2]:
credit_card_data = pd.read_csv("creditcard.csv")

### First Five Rows Of Data

In [3]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

### Last Five Rows Of Data

In [4]:
credit_card_data.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

### Information of the credit card dataset

In [5]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

### Check Missing Values

In [6]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

### Distribution of legit and fradulent transaction

In [7]:
credit_card_data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

We can see here, this dataset is highly unbalanced, where 0 represents legit transaction and 1 represents fradulent transaction.

###   Separating  data based on unique class from analysis and storing in different variables

In [8]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
legit.shape

(284315, 31)

In [10]:
fraud.shape

(492, 31)

### Statistical measures of data

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

### Compare the values for both of the classes

In [13]:
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

### UnderSampling

Here, if we can see that 0th class has 2lacks+ values and 1th class had only 492 which is not well distributed. So, here we are using undersampling method to make a class of the dataset evenly distributed. So there will be 0th class has 492 datapoints and 1th class has the same.


What is undersampling?
-> Random undersampling involves randomly selecting examples from the majority class to delete from the training dataset. This has the effect of reducing the number of examples in the majority class in the transformed version of the training dataset.

In [14]:
new_legit = legit.sample(n=492)

In [15]:
new_legit.head(10)

            Time        V1        V2  ...       V28  Amount  Class
180459  124550.0 -0.769523 -0.740289  ...  0.432841  267.70      0
62560    50317.0 -0.379474  1.153319  ... -0.357081   24.19      0
140395   83699.0  1.103428 -0.215299  ...  0.028267   15.00      0
53086    45808.0 -0.305537  1.059246  ...  0.076990    8.05      0
67778    52691.0 -4.534529  3.953535  ... -0.809343   99.99      0
14105    25097.0  0.328613  1.784994  ... -0.048209   89.99      0
91861    63658.0 -2.494223 -0.959327  ... -0.309387  630.50      0
128881   78873.0 -0.576056  0.475505  ... -0.516807   16.89      0
235558  148438.0 -1.271155  0.583717  ... -0.071235   65.50      0
119848   75605.0  1.226745 -0.984303  ...  0.022592  109.00      0

[10 rows x 31 columns]

### Concatenating "new_legit" and "fraud"

In [16]:
new_df = pd.concat([new_legit, fraud], axis = 0)

In [17]:
print(new_df)

            Time        V1        V2  ...       V28  Amount  Class
180459  124550.0 -0.769523 -0.740289  ...  0.432841  267.70      0
62560    50317.0 -0.379474  1.153319  ... -0.357081   24.19      0
140395   83699.0  1.103428 -0.215299  ...  0.028267   15.00      0
53086    45808.0 -0.305537  1.059246  ...  0.076990    8.05      0
67778    52691.0 -4.534529  3.953535  ... -0.809343   99.99      0
...          ...       ...       ...  ...       ...     ...    ...
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[984 rows x 31 columns]

In [18]:
new_df["Class"].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [19]:
new_df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      97944.684959 -0.052311 -0.107803  ...  0.036189  0.009209  119.004492
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

### Splitting the data into features and target

In [20]:
x = new_df.iloc[:, :-1]
y = new_df.iloc[:, -1]

In [21]:
x.head()

            Time        V1        V2  ...       V27       V28  Amount
180459  124550.0 -0.769523 -0.740289  ...  0.243452  0.432841  267.70
62560    50317.0 -0.379474  1.153319  ... -0.384768 -0.357081   24.19
140395   83699.0  1.103428 -0.215299  ...  0.033051  0.028267   15.00
53086    45808.0 -0.305537  1.059246  ...  0.240309  0.076990    8.05
67778    52691.0 -4.534529  3.953535  ... -0.356306 -0.809343   99.99

[5 rows x 30 columns]

In [22]:
y.head()

180459    0
62560     0
140395    0
53086     0
67778     0
Name: Class, dtype: int64

### Split into train and test

In [23]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 42)

### Train and Predict Different Model to check accuracy:-

In [24]:
def get_score(model, X_train, X_test, y_train, y_test):
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  return accuracy_score(y_pred, y_test)

### Decision Tree Classifier

In [25]:
accuracy_DecisionTree = get_score(
    DecisionTreeClassifier(criterion = 'entropy', random_state = 42),X_train, X_test, y_train, y_test)
print("Decision Tree Classifier's Accuracy is {}.".format(accuracy_DecisionTree * 100))

Decision Tree Classifier's Accuracy is 91.87817258883248.

### Random Forest Classifier

In [26]:
accuracy_RandomForest = get_score(
    RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0),X_train, X_test, y_train, y_test)
print("Random Forest Classifier's Accuracy is {}.".format(accuracy_RandomForest * 100))

Random Forest Classifier's Accuracy is 93.90862944162437.

### K Nearest Neighbour Classifier

In [27]:
accuracy_KNNclf = get_score(
    KNeighborsClassifier(n_neighbors = 3, metric = 'minkowski', p = 2),X_train, X_test, y_train, y_test)
print("KNN Classifier's Accuracy is {}.".format(accuracy_KNNclf * 100))

KNN Classifier's Accuracy is 59.89847715736041.

### Guassian NB Classifier

In [28]:
accuracy_GNBclf = get_score(
    GaussianNB(),X_train, X_test, y_train, y_test)
print("Guassian NB Classifier's Accuracy is {}.".format(accuracy_GNBclf * 100))

Guassian NB Classifier's Accuracy is 86.29441624365482.

### Logistic Regression

In [29]:
accuracy_LRclf = get_score(
    LogisticRegression(random_state=0),X_train, X_test, y_train, y_test)
print("Logistic Regression Classifier's Accuracy is {}.".format(accuracy_LRclf * 100))

Logistic Regression Classifier's Accuracy is 93.4010152284264.